baseURL: 'https://tarneo.fr/'
languageCode: 'en-us'
title: "Tarneo's blog"

menu:
  main:
    - name: "Home"
      url: "/"
      weight: 1
    - name: "Posts"
      url: "/posts/"
      weight: 2
    - name: "About me"
      url: "/whoami/"
      weight: 3

params:
  favicon: "profile.png"
  nav: true
