// Normal theme
html
  --bg-color: #ffffff
  --fg-color: #000000
  --link-color: #000000
  --emphasis-color: #000000
  --nav-bg-color: #ffffff
  --nav-shadow: 0 0 1em rgba(0, 0, 0, 0.25)
  --selection-background-color: #000000
  --selection-foreground-color: #ffffff
  --code-bg-color: #eee
  --code-fg-color: #000

// Dark theme (gruvbox)
@media (prefers-color-scheme: dark)
  html
    --bg-color: #282828
    --fg-color: #ebdbb2
    --link-color: #cc241d
    --emphasis-color: #d65d0e
    --nav-bg-color: #3a3a3a
    --nav-shadow: 0 0 1em rgba(0, 0, 0, 0.75)
    --selection-background-color: #292c31
    --selection-foreground-color: #1e1e1e
    --code-bg-color: #3c3836
    --code-fg-color: #ebdbb2

