// Normal theme
html
  --bg-color: #ffffff
  --fg-color: #000000
  --link-color: #000000
  --emphasis-color: #000000
  --selection-background-color: #000000
  --selection-foreground-color: #ffffff
  --code-fg-color: #ebdbb2
  --code-bg-color: #3c3836

// Dark theme (gruvbox)
@media (prefers-color-scheme: dark)
  html
    --bg-color: #282828
    --fg-color: #bfddb2
    --link-color: #d76e6e
    --emphasis-color: #ACB765
    --selection-background-color: #bfddb2
    --selection-foreground-color: #282828
    // Code colors don't change
