body
  background-color: var(--bg-color)
  color: var(--fg-color)
  font-family: monospace

::selection
  background-color: var(--selection-background-color)
  color: var(--selection-foreground-color)

h1, h2, h3, h4, h5, h6
  margin: 0
  font-weight: bold
  color: var(--emphasis-color)
  border-bottom: 1px solid var(--emphasis-color)
  font-size: 1em
  text-transform: capitalize
  padding: 0.25em
  width: fit-content

#child
  h1, h2, h3, h4, h5, h6
    box-sizing: border-box // Prevents from overflowing the parent's width

  h1
    border-bottom: 5px double var(--emphasis-color)
    text-align: center // matters for long titles

.flex-column-center // Used to center level 1 headings and post titles
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  *
    margin: 0

b, strong
  color: var(--emphasis-color)

a 
  color: var(--link-color)

hr
  border: none
  border-bottom: 1px solid var(--emphasis-color)

ul > li::marker
  color: var(--emphasis-color)
  content: "- "

// Prevent footnote references from adding height to the line
// More information: https://stackoverflow.com/questions/1530685/hoe-can-i-keep-consistent-line-height-with-superscript-elements
sup
  line-height: 0

pre, code
  overflow-x: scroll

*:not(pre) > code
  padding: 0px 4px
  color: var(--code-fg-color)
  background-color: var(--code-bg-color)
  font-size: 0.9em // To prevent text lines from overlapping

pre
  border: 1px solid var(--emphasis-color)
  padding: 1em

// Pre's surround are parents of non-inline code blocks.
// This rule prevents them from showing an orange outline when clicked.
pre:focus
  outline: none

img
  border: 1px solid var(--emphasis-color)

blockquote
  p
    margin: 0
  cite
    // Align the citation to the right
    width: 100%
    text-align: right
    font-size: 0.8em
    font-style: normal
    color: var(--emphasis-color)
  cite::before
    content: "— "

.gallery-item
  margin: 1rem 0

.post-list
  padding: 0
  li
    padding: 0.25ch 0
  li::marker
    content: ""
