body
  background-color: var(--bg-color)
  color: var(--fg-color)
  font-family: monospace

h1, h2, h3, h4, h5, h6
  margin: 0
  font-weight: bold
  color: var(--emphasis-color)
  border-bottom: 1px solid var(--emphasis-color)
  font-size: 1em
  text-transform: uppercase
  padding: 0.25em
  width: fit-content

#child
  h1, h2, h3, h4, h5, h6
    width: 100%

  h1
    border-bottom: 5px double var(--emphasis-color)

b, strong
  color: var(--emphasis-color)

a 
  color: var(--link-color)

ul > li::marker
  color: var(--emphasis-color)
  content: "- "

// Prevent footnote references from adding height to the line
// More information: https://stackoverflow.com/questions/1530685/hoe-can-i-keep-consistent-line-height-with-superscript-elements
sup
  line-height: 0


::selection
  background-color: var(--selection-background-color)
  color: var(--selection-foreground-color)

footer
  opacity: 0.5

pre, code
  color: #ebdbb2
  background-color: #3c3836
  white-space: pre-wrap

*:not(pre) > code
  padding: 0px 4px
  font-size: 0.9em // To prevent text lines from overlapping

pre
  padding: 1em

pre:focus
  outline: none

img
  border: 1px solid var(--emphasis-color)

blockquote
  p
    margin: 0
  cite
    // Align the citation to the right
    width: 100%
    text-align: right
    font-size: 0.8em
    font-style: normal
    color: var(--emphasis-color)
  cite::before
    content: "— "

// Blinking '_' after "whoami" title in about page
@keyframes blink
  50%
    opacity: 0

#whoami::after
  content: "_"
  animation: blink 1s steps(1) infinite
  color: var(--emphasis-color)
