body
  margin: 0
  margin-top: var(--nav-height)
  padding: 4em 0
  min-height: calc(100vh - 8em - var(--nav-height))
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

#parent
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  flex-grow: 1

#child
  max-width: 100%
  width: Min(65ch, 95vw)

// Prevent images from overflowing the main content area
#child img
  max-width: 100%
 
#navbar
  position: fixed
  top: 0
  left: 0
  right: 0
  height: var(--nav-height)
  background-color: var(--nav-bg-color)
  box-shadow: var(--nav-shadow)
  display: flex
  justify-content: center
  align-items: center
  a
    display: inline-block
    padding: 0 0.5em
    font-weight: bold

#post-header
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-between
  *
    margin: 0
  h1
    font-size: 2em
    text-align: center

html
  --nav-height: 2em
