body
  background-color: var(--bg-color)
  color: var(--fg-color)
  font-family: monospace
  font-size: medium

h1, h2, h3, h4, h5, h6
  margin: 0
  font-weight: bold
  color: var(--color11)

b
  color: var(--color11)

a 
  color: var(--color13)

img
  border-radius: 5px

.astro-code 
  font-family: monospace
  font-size: large
  border-radius: 10px

