{{ define "main" }}
    <h1>{{ title .Title }}</h1>
    {{ .Content }}
    <strong>Posts:</strong>
    <ul>
        {{ range .Pages }}
            <li class="post-in-list">
                <div>
                    <strong>{{ .Date.Format "January 2, 2006" }}:</strong>
                    <a href="{{ .Permalink }}">{{ title .Title }}</a><br>
                    {{ .Summary | truncate 200 }}
                </div>
                {{ if .Params.image }}
                    {{ $image := .Resources.GetMatch .Params.image }}
                    {{ $image = $image.Resize "300x" }}
                    <img src="{{ $image.Permalink }}" alt="{{ title .Title }} - post image">
                {{ end }}
            </li>
        {{ end }}
    </ul>
    <a href="index.xml">RSS</a>
{{ end }}
