{{ define "main" }}
    <h1>{{ title .Title }}</h1>
    {{ .Content }}
    <strong>Posts:</strong>
    <ul>
        {{ range .Pages }}
            <li class="post-in-list">
                <div>
                    <strong>{{ .Date.Format "January 2, 2006" }}:</strong>
                    <a href="{{ .Permalink }}">{{ title .Title }}</a>
                    ~;~
                    {{ .Summary | truncate 200 }}
                </div>
            </li>
        {{ end }}
    </ul>
    <a href="index.xml">RSS</a>
{{ end }}
