{{ define "main" }}
    <div class="flex-column-center">
        <h1>{{ title .Title }}</h1>
    </div>
    {{ .Content }}
    <ul class="post-list">
        {{ range .Pages }}
            <li>
                <div>
                    <strong>{{ .Date.Format "January 2, 2006" }}:</strong>
                    <a href="{{ .Permalink }}">{{ title .Title }}</a>
                    ~;~
                    {{ .Summary | truncate 200 }}
                </div>
            </li>
        {{ end }}
    </ul>
    <a href="index.xml">RSS</a>
{{ end }}
