---
import Base from '../layouts/Base.astro';
import List from '../components/List.astro';
import ListItem from '../components/ListItem.astro';
---

<Base title="Home">
	<main>
		<article>
			<h1>Hello, I'm tarneo!</h1>
			<p>
				I am a college student and computer science enthusiast. I just make any project that can be useful to me, like <a href="https://github.com/boa-mc" target="_blank">boamc</a>.
			</p>
			<List title="Also me:">
				<ListItem icon="" label="email">tarneo@tarneo.fr</ListItem>
				<ListItem icon="" label="github"><a href="https://github.com/tarneaux" target="_blank">tarneaux</a></ListItem>
				<ListItem icon="" label="discord">tarneo#1560</ListItem>
			</List>
		</article>
	</main>
</Base>