---
const today = new Date();
---

<footer>
    Credit to <a href="https://bain.cz/">bain</a> for the design.
</footer>
<style>
    footer {
        margin-top: 3em;
        font-size: smaller;
        opacity: 30%;
    }
    footer a {
        text-decoration: underline;
        color: inherit;
    }
</style>
