---
import Icon from './Icon.astro'

export interface Props {
  icon?: string;
  label?: string;
}
const {icon, label} = Astro.props
---

<li class="item">
{icon && (<Icon {icon} />)}{label && (<b class="label">{label}:</b>)}
<slot />
</li>

<style>
    .label {
        color: var(--color11);
    }
</style>
