---
import Icon from './Icon.astro'

export interface Props {
  icon?: string;
  label?: string;
}
const {icon, label} = Astro.props
---

<li class="item">
<b class="dash">-</b> {icon && (<Icon {icon} />)}{label && (<b class="label">{label}:</b>)}
<slot />
</li>

<style>
    .dash {
        font-weight: bold;
        color: var(--color13);
    }
    .label {
        color: var(--color11);
    }
</style>
