---
import BaseHead from "../components/BaseHead.astro";
import Navbar from "../components/Navbar.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

export interface Props {
  title?: string;
  description?: string;
}

const {title, description} = Astro.props;

// If possible, add the page title to the full title.
var full_title = SITE_TITLE;
if (title){
    full_title = title + " - " + full_title;
}

// Pick the description from the page if possible, otherwise use the site description
const best_description = description || SITE_DESCRIPTION;

---


<!DOCTYPE html>
<html lang="en-us">
<head>
    <BaseHead title={full_title} description={best_description} />
</head>
<body>
    <Navbar title={full_title}/>
    <div class="parent">
        <div class="children">
            <slot />
        </div>
    </div>
</body>
</html>
